<% content_for :header_tags do %>
<%= stylesheet_link_tag 'k_chart', :plugin => 'k_chart' %>
<%= javascript_include_tag 'jquery_min', :plugin => 'k_chart' %>
<%= javascript_include_tag 'highchart/highcharts', :plugin => 'k_chart' %>
<%= javascript_include_tag 'highchart/modules/exporting', :plugin => 'k_chart' %>
<% end %>

<h2>KChartController#index</h2>
<%= @project.versions %>
<br><br>
<%= @project.versions[0].fixed_issues %>
<%= @version_names.to_json %>
<%= @bug_issues_num %>
<%= l(:default_tracker_bug) %>

<%= javascript_tag do %>
  var version_names = <%= raw @version_names.to_json %>

  var bug_string = "<%= raw l(:default_tracker_bug) %>"
  var dep_string = "<%= raw l(:default_tracker_feature) %>"
  var bug_issues_num =  <%= raw @bug_issues_num.to_json %>
  var dep_issues_num =  <%= raw @dep_issues_num.to_json %>
<% end %>

<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Stacked column chart'
        },
        xAxis: {
            categories: version_names
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total fruit consumption'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -70,
            verticalAlign: 'top',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '<br/>' +
                    'Total: ' + this.point.stackTotal;
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black, 0 0 3px black'
                    }
                }
            }
        },
        series: [{
            name: bug_string,
            data: bug_issues_num
        }, {
            name: dep_string,
            data: dep_issues_num
        }]
    });
});
</script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
<% end %>
